<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur">

  <!-- Wrapper around ur_macro.xacro that sets our own world->base_link
       origin directly, instead of going through ur.urdf.xacro (which
       hardcodes <origin xyz="0 0 0"/> and was fighting our own
       static_transform_publisher node for authority over that transform). -->

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />

  <link name="world" />

  <xacro:ur_robot
    name="ur"
    tf_prefix=""
    parent="world"
    joint_limits_parameters_file="$(find ur_description)/config/ur5e/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/ur5e/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/ur5e/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur5e/visual_parameters.yaml"
    safety_limits="false"
    safety_pos_margin="0.15"
    safety_k_position="20"
    force_abs_paths="false"
    >
    <origin xyz="0.8 -0.45 0.70" rpy="0 0 1.5708" />
  </xacro:ur_robot>

</robot>
